<!DOCTYPE html>
<html>
  <head>
    <title>=CodeEquality=</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">
  </head>

  <body>
  	<div id="main">
      <div id="leftBar" class="col-md-2">
          <div id="logo"><a href="/">=CodeEquality=</a></div>
          <br>
          <a href="/about">About</a><br>
          <a href="/index">Index</a><br>
          <a href="http://anitaborg.org/">Anita Borg Institute</a><br>
          <a href="http://en.wikipedia.org">Wikipedia</a><br>
      </div>
		  <div id="content" class="col-md-9">
        <div class="row"><br><br></div>
        <div class="row">
  		    <p class="title"><%= @header %></p>
          <div class="row"><br></div>
          <p id="directive"><%= @directive %></p>
          <p id="stat"><a href="http://stats.grok.se/en/latest90/<%= @woman.name.gsub(" ", "_") %>" target="_blank"><%= @stat %></a></p>
          <p id="bio"><%= @woman.bio %></p>
        <div id="row"><br></div>
        <div id="twitter-material">
          <div id="twitter-intro"><%= @twitter_intro %></div>
              <% @woman.tweets.each do |tweet| %>
                <%= tweet.html %>
              <% end %>
        </div>

          <script>
          window.twttr = (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0],
            t = window.twttr || {};
          if (d.getElementById(id)) return;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function(f) {
            t._e.push(f);
          };

          return t;
          }(document, "script", "twitter-wjs"));
          </script>
        </div>
      </div>
    </div>
  </body>
</html>
