<h1><%= @woman.name %></h1>

<ul>
<li><%= @woman.wiki_page_link %></li>
<li><%= @woman.bio %></li>
<li><%= @stat %></li>
</ul>

<h2>WHAT ARE THE PEOPLE SAYING!?</h2>

<ul>
  <% @tweets.each do |tweet| %>
    <li><%= tweet.text %> <p>@<%= tweet.user.screen_name %></p> </li>
  <% end %>
</ul>

