<h1><%= @header %></h1>

<p><%= @directive %></p>
<p><%= @woman.bio %></p>
<p><a href="http://stats.grok.se/en/latest90/<%= @woman.name.gsub(" ", "_") %>"><%= @stat %></a></p>

<p><%= @twitter_intro %></p>